.custom-header {
    background-color: rgb(189, 1, 1);
}

.custom-aside {
    border: 3px solid rgb(189, 1, 1);
    border-radius: 0%;
}

.custom-footer {
    color: white;
    position: absolute;
    bottom: 0%;
}

.custom-footer a{
    color: white;
}
