.custom-header {
    background-color: rgb(189, 1, 1);
}

.custom-aside {
    border: 3px solid rgb(189, 1, 1);
}

.custom-footer {
    position: absolute;
    bottom: 0px;
    color: white;
}

.custom-footer a{
    color: white;
}
